[Unit]
Description=users Service

[Service]
User=todoapp
Environment=REDIS_HOST=REDIS_ENDPOINT
ExecStart=/bin/java -jar /home/todoapp/users/users.jar
SyslogIdentifier=users

[Install]
WantedBy=multi-user.target